<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="menu" color="primary">
    <mat-toolbar>
      <div class="logo">
        <img src="../../assets/logo.png" width="150px" />
      </div>

      <mat-toolbar-row
        (click)="setConteudoSelecionado(sidenav, 'home')"
        [ngClass]="{ 'item-menu-ativo': conteudoSelecionado === 'home' }"
      >
        <span>Início</span>
        <span class="espacamento-horizontal"></span>
        <mat-icon class="icone">home</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row
        (click)="setConteudoSelecionado(sidenav, 'medicos')"
        [ngClass]="{ 'item-menu-ativo': conteudoSelecionado === 'medicos' }"
      >
        <span>Médicos</span>
        <span class="espacamento-horizontal"></span>
        <mat-icon class="icone">assignment_ind</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row
        [ngClass]="{
          'item-menu-ativo': conteudoSelecionado === 'consultorios'
        }"
        (click)="setConteudoSelecionado(sidenav, 'consultorios')"
      >
        <span>Consultórios</span>
        <span class="espacamento-horizontal"></span>
        <mat-icon class="icone">business</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span>Gestão de Consultório Médico</span>
    <span class="espacamento-horizontal"></span>
    <button mat-button (click)="sair()">
      <i class="material-icons">exit_to_app</i>
    </button>
  </mat-toolbar>

  <div class="conteudo">
    <home *ngIf="conteudoSelecionado === 'home'"></home>
    <consultorios *ngIf="conteudoSelecionado === 'consultorios'"></consultorios>
    <medicos *ngIf="conteudoSelecionado === 'medicos'"></medicos>
  </div>
</mat-sidenav-container>
