/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #7a7a7a;
  font-size: 13px;
  background-color: #eee;
}

mat-sidenav-container,
div {
  height: 100%;
}

.conteudo {
  padding: 20px;
}

mat-card-title {
  color: #7f7f7f;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.espacamento-horizontal {
  flex: 1 1 auto;
}
