<div class="conteudo">
  <mat-card class="card-login">
    <h2>Acessar</h2>

    <mat-card-content class="form-login">
      <mat-form-field>
        <input matInput placeholder="Nome de usuário" type="text" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Senha" type="password" />
      </mat-form-field>

      <button
        class="app-button"
        mat-raised-button
        color="primary"
        (click)="login()"
      >
        Entrar
      </button>
      <p class="mt-8 mb-8 text-muted">
        &copy; Sistema de Gestão de Consultório Médico
      </p>
    </mat-card-content>
  </mat-card>
</div>
