.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1111111;
  overflow: auto;

  .modal-body {
    padding: 20px;
    background: #fff;
    margin: 0 40px 40px 40px;
  }

  .cabecalho {
    margin: 40px 40px 0 40px;

    mat-icon {
      float: right;
      cursor: pointer;
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000087;
  z-index: 11111;
}
.modal-open {
  overflow: hidden;
}
