<mat-card>
  <mat-card-title>{{ titulo }}</mat-card-title>
  <mat-card-content>
    <div align="right">
      <button
        mat-raised-button
        color="primary"
        (click)="onAbrirModalCadastro()"
      >
        Cadastrar
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="tabela">
      <table mat-table [dataSource]="dados">
        <ng-container
          *ngFor="let coluna of valorColunas; let i = index"
          [matColumnDef]="coluna"
        >
          <ng-container *ngIf="coluna !== 'acoes'">
            <th mat-header-cell *matHeaderCellDef>
              {{ labelColunas[i] | uppercase }}
            </th>
            <td mat-cell *matCellDef="let item">
              {{ item[coluna] }}
            </td>
          </ng-container>
          <ng-container
            *ngIf="coluna === 'acoes'"
            matColumnDef="acoes"
            stickyEnd
          >
            <th mat-header-cell *matHeaderCellDef class="coluna-acoes">
              AÇÕES
            </th>
            <td mat-cell *matCellDef="let item" class="coluna-acoes">
              <button
                *ngIf="item.acoes && item.acoes.includes('editar')"
                mat-icon-button
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="item.acoes && item.acoes.includes('remover')"
                mat-icon-button
                color="warn"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button
                *ngIf="item.acoes && item.acoes.includes('verVinculos')"
                mat-icon-button
                color="primary"
              >
                <mat-icon>list_alt</mat-icon>
              </button>
              <button
                *ngIf="item.acoes && item.acoes.includes('vincular')"
                mat-icon-button
              >
                <mat-icon>post_add</mat-icon>
              </button>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="valorColunas"></tr>
        <tr mat-row *matRowDef="let row; columns: valorColunas"></tr>
      </table>
    </div>
    <p align="center" *ngIf="!dados || dados.length === 0">
      Nenhum dado encontrado.
    </p>
  </mat-card-content>
</mat-card>

<modal titulo="Cadastro" [abrirModalCadastro]="abrirModalCadastro">
  <formulario
    (submeter)="salvar($event)"
    (cancelar)="fecharModalCadastro($event)"
    [itensFormulario]="itensFormulario"
  ></formulario>
</modal>
